@media(max-width: 1000px) {

    .team-members {
        flex-wrap: wrap;
    }
    .team-members img {
        margin: 0 auto;
    }
}

@media(max-width: 680px) {
    .wrap{
        display:none;
    }
    .title{
        text-align: center;
        margin:25px auto;
    }
    .menu-icon{
        display: block;
    }
    .title h1{
        font-size: 30px;
    }
    .search{
        display:none;
    }
    .container{
        flex-direction: column;
        margin: 0 auto;

    }
    .heading{
        text-align: center;
    }
    .signup{
        width: 75%;
        margin: 0 auto;
    }
    .team-members {
        flex-direction: column;
    }
    .team-members img {
        margin: 0 auto;
        width: 20%
    }
    .photo-member {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media(max-width: 350px) {
    .container{
        flex-direction: column;
        margin: 0 auto;

    }
    .heading{
        text-align: center;
    }

    .signup{
        width: 100%;
        
    }
    .team-members {
        flex-direction: column;
    }
    .team-members img {
        margin: 0 auto;
    }
    .photo-member {
        text-align: center;
        margin-bottom: 10px;
    }
}