@media(max-width: 1000px) {

    .team-members {
        flex-wrap: wrap;
    }
    .team-members img {
        margin: 0 auto;
    }
}

@media(max-width: 680px) {
    .top-wrapper{
        flex-direction: column;
        margin: 0 auto;

    }
    .heading{
        text-align: center;
    }
    .signup{
        width: 50%;
        margin: 0 auto;
    }
    .team-members {
        flex-direction: column;
    }
    .team-members img {
        margin: 0 auto;
    }
    .photo-member {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media(max-width: 350px) {
    .top-wrapper{
        flex-direction: column;
        margin: 0 auto;

    }
    .heading{
        text-align: center;
    }

    .signup{
        width: 100%;
        
    }
    .team-members {
        flex-direction: column;
    }
    .team-members img {
        margin: 0 auto;
    }
    .photo-member {
        text-align: center;
        margin-bottom: 10px;
    }
}