

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "helvetica";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 50px 0;
  text-align: left;
}
.heading{ 
  padding: 50px;
}
.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.top-wrapper p {
  margin-bottom: 5px;
}
.signup{
  background: rgba(4, 29, 23, 0.5);
  width: 270px;
  box-shadow: 0px 0px 25px 10px black;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
}
.form-signup{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 8px 0;
  border-bottom: 2px solid white;
}
.form-signup input{
  width: 85%
  padding:5px 0;
  background: none;
  border: none;
  outline: none;
  color: white;
}
.form-signup input::placeholder{
  color: white;
}
.button{
  margin-left: 10px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid white;
  width:92.5%;
  cursor: pointer;
  font-size: 18px
}
.alt-signup{
  margin-left: 10px;
  display: block;

}
.alt{
  margin-left: 5px;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
}
.facebook{
  background-color: blue;
  color: white
}
.google{
  background-color: white;
  color: red;
}