/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "helvetica";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 125px 0 70px 0;
  background-image: url("img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFF5EE;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 5px;
}
.search-box{
  margin: 50px auto;
  width: 500px;
}
.search{
  border: 0px solid #dbdbdb;
  border-radius: 5px;
  background: rgba(50 , 50, 50, 0.5);
}
