* {
  box-sizing: border-box;
  margin: 0;
}


html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "helvetica";
}

a {
  text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    background-color: #1abc9c;
}

header h1{
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: left;
    font-size: 50px;
    color: snow;
    font-family: fantasy;
}
.nav-menu ul {
    overflow:hidden;
    color:#fff;
    list-style: none;
    float:left;
    padding:0;
    width: 650px;
    margin:0 0 0;
    background: #1abc9c;
}
header label{
    float: right;
    margin-top: -22px;
    padding: 2px;
}
header input[type=search]{
    float: right;
    margin-top: -20px;
    padding: 2px;
    width: 180px;
    height: 20px;
    
}


.container {
  max-width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
.top-wrapper{
  display: flex;
  justify-content: space-between;
}

.Main1 {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 50px 0;
  text-align: left;
  background-color: aliceblue;
  width: 100%
}
.heading{
  margin-bottom: 10px;
}
.Main1 h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.Main1 p {
  margin-bottom: 5px;
}

.heading{
  margin-bottom: 50px;
}

.signup{
  background: rgba(4, 29, 23, 0.5);
  width: 35%;
  box-shadow: 0px 0px 25px 10px black;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
}

.form-signup {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 8px 0;
  border-bottom: 2px solid white;
}

.form-signup input {
  width: 85%;
  padding: 5px 0;
  background: none;
  border: none;
  outline: none;
  color: white;
}

.form-signup input::placeholder {
  color: white;
  opacity: 0.8;

}
.form-signup input:focus::placeholder{
  color: transparent;

}

.button{
  color: white;
  margin-bottom: 20px;
  background: rgba(255,255,230,0.5);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 0.5;
  width:92.5%;
  cursor: pointer;
  opacity: 0.7;
  font-size: 18px;
}

.button:hover{
  opacity: 1; 
}

.alt-signup{
  display:inline-block;
}
.alt{
  margin-left: 5px;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  opacity: 0.7;
}

.fa {
  padding-right: 3px;
  border-right: 1px solid grey;
  margin-right: 3px;

}

.facebook {
  background-color: blue;
  color: white
}

.google {
  background-color: white;
  color: red;
}
.alt:hover{
  opacity: 1;
}

/* main2 */
.main2 {
  border-bottom: 3px solid cadetblue;
  padding-bottom: 10px;
  text-align: center;
}

.headingTeams h1 {
  font-family: serif;
  font-size: xx-large;
  font-weight: 500;
  color: cadetblue;
  margin: 40px 0px;
}

.team-members {
  /* item bertumpuk horizontal : buat di class yang membungkus item */
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.photo-member {
  /* mengisi seluruh ruang lebar milik element induknya. */
  flex: auto;
  /* display: inline-block; */
}

.photo-member img {
  width: 100%;
}

.photo-member h4 {
  text-align: center;
  font-family: initial;
  font-size: large;
  font-weight: bolder;
  color: cadetblue;
  margin-bottom: 1px;
  margin-top: 4px;
}

.footer-top2{
	padding-bottom:30px;
}

.photo-member p {
  text-align: center;
  font-family: auto;
  color: black;
  font-size: medium;
  margin-bottom: 20px;
}

.footer-top2 a{
  display: block;
  color: #FFF;
  background: rgb(117, 183, 185);
  border-radius: 72px;
  height: 100px;
  width: 100px;
  padding: 40px 0px;
}

.footer-top2 .fa{
  font-size:18px;
  color: #FFF;
  padding-right:10px;
}

.footer-top2 .gambar:hover a{
  color:#FFF;
  text-decoration:none;
  background:#4c82bd;
  transition: all 0.5s ease-in-out;
}

.copyright{
  background-color:#f0f0f0;
}

.copyright p{
  font-size:12px;
  padding:15px 0 10px 0;
}

/*  Footer 2 End */